/*font-family: 'Orbitron', sans-serif;
font-family: 'Bangers', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Economica', sans-serif;
font-family: 'Montez', cursive;*/

.hello-area {

}

.movies-area {

}

.movie {

}
